<div class="container play">
  <div class="row">
    <div class="col s6 m8 l8">
      <h4 id="message">Begin!</h4>
    </div>
    <div class="col s6 m4 l4">
      <h5>Remaining Time: <span id="timer">180</span></h5>
    </div>
  </div>
  <div class="row">
    <div class="col s6 m5 l5">
      <h5 style="color: #<%= roomOptions.team1Color %>;"><%= roomOptions.team1 %> Score</h5>
      <h4 id="team1Score" style="color: #<%= roomOptions.team1Color %>;">0</h4>
    </div>
    <div class="col s6 m2 l2">
      <button id="end" class="btn red">STOP!</button>
    </div>
    <div class="col s6 m5 l5 right-align">
      <h5 style="color: #<%= roomOptions.team2Color %>;"><%= roomOptions.team2 %> Score</h5>
      <h4 id="team2Score" style="color: #<%= roomOptions.team2Color %>;">0</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6">
      <img id="deck" class="card-back" src="/images/card_back.png">
    </div>
    <div class="col s12 m6 l6">
      <div id="flip">
        <h3>Draw Now!</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 center">
      <button id="skip" class="btn orange">SKIP!</button>
      <button id="start" class="btn">START!</button>
    </div>
  </div>
</div>
<div class="container summary hide">
  <div class="row">
    <div class="col s12 m12 l12 center">
      <h3>Game Results</h3>
    </div>
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="col s6 m6 l6">
          <h4 style="color: #<%= roomOptions.team1Color %>;"><%= roomOptions.team1 %>: <span id="score1">0</span></h4>
        </div>
        <div class="col s6 m6 l6 right-align">
          <h4 style="color: #<%= roomOptions.team2Color %>;"><%= roomOptions.team2 %>: <span id="score2">0</span></h4>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <h4 class="center">Skipped Words</h4>
        </div>
      </div>
      <div id="skipped" class="row center">
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  var DEFAULT_START = 90;
  var startTime = DEFAULT_START;
  var interval = null;
  var currentCard = null;
  var score1 = 0;
  var score2 = 0;
  var team1Turn = true;
  var deck = null;
  var skipped = [];
  getCards();
  startTurn();

  function getCards(){
    $.ajax({
      method: 'GET',
      url: '/game/cards',
      async: false,
      success: function(data){
        console.log('success', data)
        deck = data.cards;
      },
      error: function(err){
        console.log('err', err);
      }
    });
  }

  function tick(){
    startTime -= 1;
    $('#timer').html(startTime);

    if(startTime === 59){
      $('#timer').css('color', 'orange');
    }
    if(startTime === 29){
      $('#timer').css('color', '#f00');
    }
    if(startTime === 10){
      $('#timer').css('font-size', '32px');
    }
    if(startTime === 0){
      clearInterval(interval);
      finishedTurn();
    }
  }

  function startTurn(){
    $('#start').css('display', 'none');
    $('#skip').css('display', 'block');
    $('#message').html('Begin!');
    startTime = DEFAULT_START;
    $('#deck').bind('click', next);
    interval = setInterval(tick, 1000);
    flipCard();
  }

  function finishedTurn(){
    //switch to other team
    team1Turn = !team1Turn;
    //disable deck click
    $('#deck').unbind('click');
    //display message
    $('#message').html((team1Turn ? '<%=roomOptions.team1%>' : '<%=roomOptions.team2%>') + ', start when ready!');
    //show start button
    $('#start').css('display', 'block');
    $('#skip').css('display', 'none');
  }

  function flipCard(){
    if(!deck || deck.length <= 0){
      console.log('reshuffling cards');
      getCards();
    }
    currentCard = deck.shift();

    //Display the card
    var title = $('<h3>').append(currentCard.word);
    var description = $('<h6>').append(currentCard.description);
    var image = $('<img>').attr('class', 'responsive-img');
    var newDiv = $('<div>').append(title).append(description).append('<br>').append('<br>');

    if(currentCard.image != ''){
      image.attr('src', currentCard.img);
    }
    else{
      image.attr('src', '/images/default_card.png');
      image.css('opacity', '0.1');
    }

    $('#flip').empty().append(newDiv).append($('<div>').append(image));

    //Don't allow another click right away
    $('#deck').unbind('click');
    setTimeout(function(){
      if(startTime > 1){
        $('#deck').bind('click', next);
      }
    }, 800);
  }

  function next(){
    if(startTime > 1){
      awardPoint();
      flipCard();
    }
  }

  function awardPoint(){
    if(team1Turn){
      score1 += 1;
      $('#team1Score').html(score1);
    }
    else{
      score2 += 1;
      $('#team2Score').html(score2);
    }
  }

  $('#skip').click(function(){
    if(startTime > 1){
      skipped.push(currentCard);
      flipCard();
    }
  });

  $('#start').click(function(){
    startTime = DEFAULT_START;
    startTurn();
  });

  $('#end').click(function(){
    //Update game state, then show game summary
    $.ajax({
      method: 'POST',
      url: '/game/end',
      data: {score1: score1, score2: score2, skipped: JSON.stringify(skipped)},
      success: function(data){
        console.log('success', data);
        $('#score1').html(score1);
        $('#score2').html(score2);
        if(skipped && skipped.length > 0){
          skipped.forEach(function(obj){
            $('#skipped').append($('<div class="col s6 m4 l4">').append('<h5 class="grey-text">' + obj.word + '</h5>'));
          });
        }
        else {
          $('#skipped').append($('<div class="col s12 m12 l12">').append('<h5 class="grey-text">No Words Skipped - Good Job!</h5>'));
        }
        $('.play').hide();
        $('.summary').removeClass('hide');
      },
      error: function(err){
        console.log('err', err);
      }
    });
  })
});
</script>
